.header{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    padding: 20px;
    border-bottom: 0.4px solid #FFF2E7;
    margin-bottom: 64px;
}

.header img{ 
    width: 350px;
}

ul.nav {
    text-align: center;
    font-size: 100%;
}

ul.nav li {
    list-style: none;
    display: inline;
    font-size: 100%;
    font: inherit;
}


#nav-botao a{
    font-family: Arial, Helvetica, sans-serif;
    color: #eaf1fb;
    text-align: center;
    padding: 10px;
    text-decoration: none;
    font-size: 18px;    
    margin: 5px
}

#nav-botao a:hover {
    color: #194175;
}


.menu {
list-style:none;
border:1px solid #c0c0c0;
float:left;
}

.menu li {
    position:relative;
    float:left;
    border-right:1px solid #c0c0c0;
}

.menu li a {
    color:#333; 
    text-decoration:none; 
    padding:5px 10px; 
    display:block;
}

.menu li a:hover{
    background:#333;
    color:#fff;
    text-shadow:0px 0px 5px #fff;
}

.menu li ul {
    position:absolute;
    top:25px;
    left:0;
    background-color:#fff;
    display:none;
}

.menu li:hover ul, .menu li.over ul {
    display:block;
}

.menu li ul li{
    border:1px solid #c0c0c0;
    display:block;
    width:150px;
}
