.header{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    padding: 20px;
    border-bottom: 0.4px solid #FFF2E7;
    margin-bottom: 64px;
}

ul.nav {
    text-align: center;
    font-size: 100%;
}

ul.nav li {
    list-style: none;
    display: inline;
    font-size: 100%;
    font: inherit;
}


#nav-botao a{
    font-family: Arial, Helvetica, sans-serif;
    color: #eaf1fb;
    text-align: center;
    padding: 10px;
    text-decoration: none;
    font-size: 18px;    
    margin: 5px
}

#nav-botao a:hover {
    color: #194175;
}

.menu {
    list-style:none;   
    float:left; 
}

.menu li {
    position:relative;
    float:left;
}

.menu li a {
    padding:5px 10px; 
    display:block;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px; 
    color: #eaf1fb;  
    text-decoration: none;
    font-weight: 500;
    margin: 5px;   
}

.menu li a:hover {
    color: #194175;
}

.menu li ul {
    position:absolute;
    right:30px;
    display:none;
    border:0.5px solid #194175;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 1px 4px 5px 4px rgba(0, 0, 0, 0.25);
}

.menu li:hover ul, .menu li.over ul {
    display:block;
}

.menu li ul li{
    display:block;
    width:250px;
}

.sair {
    border-top:#194175 1px solid;
}


