/* PADRÃO */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 100%;  
    background: linear-gradient(68deg, #304271 16.62%, #4d7794 85.61%);
    background-attachment: fixed; 
    font-family: Nunito, sans-serif;
}

.rodape {
    margin-top: 64px;;
    padding: 32px;
    border-top: 0.4px solid #FFF2E7;
}

.rodape-escrito {
    font-family: 'Sarala', sans-serif;
    font-weight: 400;
    font-size: 12px;
    color:#FFF2E7;
    text-align: center;
    margin-bottom: 12px;
}

.rodape-escrito-nome {
    font-family: 'Sarala', sans-serif;
    font-weight: 300;
    font-size: 10px;
    color:#FFF2E7;
    text-align: center;
}

.flex {
    display: flex;
    flex-direction: center;
    justify-content: center;
}

::placeholder{
    font-weight: bolder;
    color:#fff2e778;
}

/* Página Incial */

.conteudo-principal {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.conteudo-principal-escrito {
    display: flex;
    flex-direction: column;
    gap: 32px;
}


.conteudo-principal-escrito-titulo {
    font-family: 'Righteous', cursive;
    font-weight: 400;
    font-size: 64px;
    color:#ECD6C4;
}

.conteudo-principal-escrito-subtitulo {
    font-family: 'Sarala', sans-serif;
    font-weight: 400;
    font-size: 24px;
    color: #FFF2E7;
}

.conteudo-principal-escrito-botao {
    font-family: 'Sarala', sans-serif;
    font-weight: 400;
    font-size: 24px;
    color:#FFF2E7;
    text-decoration: none;
    width: 180px;
    height: 67px;
    border: none;
    box-shadow: 1px 4px 5px 4px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
    display: flex;
    justify-content: center;
    padding-top: 20px;
}

.conteudo-principal-escrito-botao:hover {
    background-color: rgba(236, 214, 196, 0.53);
    border: solid black 1px;
}

.conteudo-secundario {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
    margin-top: 48px;
}

.conteudo-secundario-titulo {
    border-top: 0.4px solid #ECD6C4;
    padding-top: 48px;
    font-family: 'Righteous', cursive;
    font-weight: 400;
    font-size: 24px;
    color: #FFF2E7;
    margin-bottom: 16px;
}

.conteudo-secundario-paragrafo {
    font-family: 'Sarala', sans-serif;
    font-weight: 300;
    font-size: 18px;
    color:#FFF2E7;
}

/* Cadastro e login */


.input {
    padding: 25px;
    font-family: 'Sarala', sans-serif;
    font-weight: 400;
    font-size: 16px;
    color:#FFF2E7;
    width: 560px;
    height: 56px;
    border: none;
    box-shadow: 1px 4px 5px 4px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
}

.input-date {
    padding: 25px;
    font-family: 'Sarala', sans-serif;
    font-size: 16px;
    width: 560px;
    height: 56px;
    border: none;
    box-shadow: 1px 4px 5px 4px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
    font-weight: bolder;
    color:#fff2e778;
}

.input:hover {
    border: solid black 1px;
}

.input:focus {
    outline: 0;
}

.login-form-btn {
    text-transform: uppercase;
    background: #194175;   
    font-family: 'Sarala', sans-serif;
    font-weight: bolder;
    font-size: 18px;
    color:#ECD6C4;
    width: 280px;
    height: 56px;
    border: none;
    box-shadow: 1px 4px 5px 4px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
}

.login-form-btn:hover {
    cursor: pointer;
    border: solid black 1px;
}


.criar-conta {
    font-size: 14px;
    padding-right: 10px;
    color: #FFF2E7;
}

.criar-conta-cadastro {
    font-size: 16px;
    color: #9cb9e8;
    text-decoration: none;
}